<!DOCTYPE html>
<html>

<head lang="ja">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript; charset=UTF-8">
    <title>SkyWay Twincam Video</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>

</body>
<!--jQueryを使っているので <body> → jQueryを使って記述したscript の順にすること-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="static/sora.min.js"></script>
<script type="text/javascript" src="static/data.js"></script>
</html>